%h2
  #{@league.name}
- @league.get_people.each_with_index do |person, index|
  %table
    %tr
      %td{class: 'ordinal'}= index
      %td{class: "text-left"}=link_to(person.name, person_path(person.id))
  %br
%br
%br
%br
%br
%br
%h3
